<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 th:text="${movie.title}"></h1>
<p>Release Date: <span th:text="${movie.releaseDate}"></span></p>
<p>Age Rating: <span th:text="${movie.ageRating}"></span></p>
<p>Length: <span th:text="${movie.runtime}"></span> minutes</p>
<img th:src="${movie.imageURL}" alt="Image of the movie" />

<h2>Reviews</h2>
<ul>

  <li th:each="review : ${reviews}">
    <p>Date: <span th:text="${review.createdAt}">Review Date</span></p>
    <p>Comment: <span th:text="${review.content}">Review Date</span></p>
    <p>Rating: <span th:text="${review.rating}">Rating</span></p>
  </li>
</ul>
</body>
</html>